.head {
  width: 32px;
  position: absolute;
  top: 271px;
  left: 665px;
}

.body {
  width: 52.64px;
  position: absolute;
  top: 312px;
  left: 658px;
}

.leftArm {
  width: 26.61px;
  position: absolute;
  top: 310px;
  left: 640px;
}

.rightArm {
  width: 28.5px;
  position: absolute;
  top: 311px;
  left: 696px;
}

.leftLeg {
  width: 29px;
  position: absolute;
  top: 393px;
  left: 661px;
}

.rightLeg {
  width: 28px;
  position: absolute;
  top: 393px;
  left: 687px;
}

.rope {
  height: 70px;
  width: 10px;
  position: absolute;
  top: 205px;
  left: 681px;
}

@media screen and (max-width: 1900px) {
  .rope {
    top: 83px;
    left: 594px;
  }

  .head {
    top: 149px;
    left: 578px;
  }

  .body {
    top: 190px;
    left: 571px;
  }

  .leftArm {
    top: 188px;
    left: 553px;
  }

  .rightArm {
    top: 189px;
    left: 609px;
  }

  .leftLeg {
    top: 271px;
    left: 574px;
  }

  .rightLeg {
    top: 271px;
    left: 600px;
  }
}

@media screen and (max-width: 1366px) {
  .rope {
    top: 90px;
    left: 451px;
    height: auto;
    width: 8px;
  }

  .head {
    width: 23px;
    top: 142px;
    left: 440px;
  }

  .body {
    top: 172px;
    left: 434.5px;
    width: 39.5px;
  }

  .rightArm {
    top: 170px;
    left: 462px;
    width: 19.5px;
  }

  .leftArm {
    top: 170.5px;
    left: 423px;
    width: 17.5px;
  }

  .leftLeg {
    top: 232px;
    left: 436.5px;
    width: 22px;
  }

  .rightLeg {
    top: 232px;
    left: 456px;
    width: 21px;
  }
}

@media screen and (max-width: 500px) {
  .rope {
    top: 166px;
    left: 233px;
    width: 7px;
  }

  .head {
    width: 22px;
    top: 211px;
    left: 222px;
  }

  .body {
    top: 239px;
    left: 217px;
    width: 36.5px;
  }

  .rightArm {
    top: 238px;
    left: 242.5px;
    width: 20px;
  }

  .leftArm {
    top: 238px;
    left: 205px;
    width: 17.5px;
  }

  .rightLeg {
    top: 296px;
    left: 236px;
    width: 20px;
  }

  .leftLeg {
    top: 295px;
    left: 219px;
    width: 20px;
  }
}

@media screen and (max-width: 425px) {
  .rope {
    top: 147px;
    left: 182px;
    width: 7px;
  }

  .head {
    top: 190px;
    left: 171px;
  }

  .body {
    top: 218.5px;
    left: 166px;
    width: 37px;
  }

  .leftArm {
    top: 217px;
    left: 154px;
    width: 17.5px;
  }

  .rightArm {
    top: 217px;
    left: 192.5px;
  }

  .leftLeg {
    top: 275px;
    left: 168px;
  }

  .rightLeg {
    top: 275px;
    left: 186px;
  }
}
