.keyboard {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

.btn {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 36px;
  background: #fff;
  border: none;
  aspect-ratio: 1 / 1;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 12px;
  color: #000;
  transition: all 0.3s ease;
}

.btn.active {
  background-color: #e3104b;
  color: #fff;
}

.btn.inactive {
  opacity: 0.3;
}

.btn:disabled {
  cursor: default;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: #e3104b;
}

@media screen and (max-width: 1366px) {
  .btn {
    font-size: 25px;
  }

  .keyboard {
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  }
}

@media screen and (max-width: 500px) {
  .keyboard {
    grid-template-columns: repeat(auto-fit, minmax(52px, 1fr));
  }

  .btn {
    font-size: 30px;
  }
}

@media screen and (max-width: 425px) {
  .keyboard {
    grid-template-columns: repeat(auto-fit, minmax(42px, 1fr));
  }

  .btn {
    font-size: 28px;
  }
}
