.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  background: #fff;
  border: none;
  aspect-ratio: 1 / 1;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 12px;
  width: 60px;
  color: #000;
  transition: all 0.3s ease;
}

.btn.active {
  background-color: #e3104b;
  color: #fff;
}

.btn.inactive {
  opacity: 0.3;
}

.btn:disabled {
  cursor: default;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: #e3104b;
}

@media screen and (max-width: 1366px) {
  .btn {
    font-size: 25px;
    width: 40px;
  }
}

@media screen and (max-width: 500px) {
  .keyboard {
    justify-content: center;
    gap: 6px;
  }

  .btn {
    font-size: 25px;
    width: 27px;
  }
}

@media screen and (max-width: 425px) {
  .keyboard {
    gap: 6px;
  }

  .btn {
    width: 26px;
    font-size: 24px;
  }
}
