.wordWrapper {
  display: flex;
  gap: 0.25em;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}

.wordLetter {
  border-bottom: 0.1em solid #000;
}

@media screen and (max-width: 992px) {
  .wordWrapper {
    font-size: 4rem;
  }
}

@media screen and (max-width: 576px) {
  .wordWrapper {
    font-size: 2.2rem;
    gap: 0.2em;
  }
}
