.wordWrapper {
  display: flex;
  gap: 19px;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.wordLetter {
  border-bottom: 4px solid #fff;
  text-align: center;
  width: 50px;
}

@media screen and (max-width: 1900px) {
  .wordWrapper {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 1366px) {
  .wordWrapper {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .wordLetter {
    width: 30px;
  }
}

@media screen and (max-width: 500px) {
  .wordLetter {
    width: 26px;
  }

  .wordWrapper {
    gap: 10px;
  }
}

@media screen and (max-width: 425px) {
  .wordLetter {
    width: 22px;
  }

  .wordWrapper {
    gap: 9px;
  }
}
